/* General Style of page  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header of the page Style */

.page-header
{
    background-color: #f8f8f8;
    width: 100%;
    height: 60px;
    position: fixed;
    opacity: 0.7;
    z-index: 1000;
    top: 0;

}
.logo{
    margin-top:0px ;
    margin-left: 100px;
    float: left;
    border-radius: 30px;
}
/* LINKS STYLE */

/* list style */
.page-links
{
    float: right;
    margin-right: 120px;
    margin-top: 15px;
}
.page-links li {
    list-style: none ;
    display: inline-block ;
    margin-left: 30px;
    color: #fff;
}
.page-links li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
}

/* links hover */
.page-links li a:hover{
    color: rgb(35, 35, 164);
    text-decoration: underline 3px black ;
}

/* ***************************************************************  */
.parent{
    width: 100% ;
    height: 100vh ;
    background-image: url(../images/background-1.jpg);
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7)
}

.content {
    width: 60%;
    height: 180px;
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.title
{
    color: #3c67c3;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text
 {
    color: #fff;
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.btn {
    width: 155px;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    text-transform: capitalize;
} 
.btn1 {
    background-color: #fff;
    margin-right: 15px;
}
.btn2 {
    background-color: #002B5B;
    color:#fff;
}

.btn:hover {
    opacity: 0.5;
}
.claer{
    clear: both;
}

/* -------------------------------------------------------------------------  */
/* Welcome Section */
.section-header{
    text-align: center;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 80px;
}
.section-header .line{
    display: block;
    width: 90px;
    height: 4px;
    background-color: rgb(86, 121, 227);
    margin: 0 auto 80px auto;
}


/*     <!-- Section_2 parts --> */
.section_2-parent{
    margin-bottom: 80px;
}
.part-one{
    background-color: #fff;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    float: left;
    margin-left: 100px;
    transition: 0.9s ease;
}
.front{
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    color: #46587f;
    margin-bottom: 40px;
}
.header1{
    margin-top: 10px;
    color: rgb(37, 36, 36);
    font-size: 30px;
    font-weight: bolder;
}
.text2{
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(35, 32, 32);
    font-size: 21px;
}
.link{
    text-decoration: none;  
    font-size: 20px;
    /* margin-bottom: 40px; */
}
/* part_1 hover style */
.part-one:hover{
    background-color:#DBE4C6;
    transform: scale(1.1);
}

/* part_2 style */

.part-two{
    background-color: #fff;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    float: left;
    margin: 0px 100px;
    transition: 0.9s ease;
}
.header2{
    color: black;
    margin-top: 10px;
}


/* part_2 hover style */
.part-two:hover{
    background-color:#DBE4C6;
    transform: scale(1.1);
}


/* part_3 style */
.part-three{
    background-color: #fff;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    float: left;
    margin: 0px 10px;
    transition: 0.9s ease;
}


/* part_3 hover style */
.part-three:hover{
    background-color: #DBE4C6;
    transform: scale(1.1);

}
.claer{
    clear: both;
}
/* *******************************************  */

/* Section-3 style */

.section_3-works
{
    padding-top: 1px;
    background-color: rgb(247, 242, 242);
    margin-top: 500px;

}
.he{
    margin-top: 100px;
}
.section_3-works-content
{
    overflow: hidden;
    width: 80%;
    margin: 10px auto;
}

.section_3-works-item
{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
}
.section_3-works-item img
{
    width: 100%;
    height: 100%;
}
.section_3-works-item.im
{
    margin: 0 5%;
}
.section_3-works-item .over-content{
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}
.section_3-works-item:hover .over-content{
    opacity: 1;
    visibility: visible;
}
.over-content .over-data{
position: absolute;
left: 50%;
top: 50%;
width: 80%;
text-align: center;
transform: translate(-50%,-50%);
}
.over-content .category {
    color: #3172f2;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
}
.over-content-title{
    font-size: 20px;
    color: #3a82b0;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.over-content a  {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #2c4266;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
}
.over-content a i{
    color: #f8f8f8;
    font-size: 20px;
}
.section_3-works-item:hover .over-content-title,
.section_3-works-item:hover .over-content a,
.section_3-works-item:hover .over-content .category
{
   top:0;
   opacity: 1;
   visibility: visible;
}
.over-content a i{
    line-height: 40px;
}

/* ******************************************************************* */
/* Section-4 Offer style  */

.offer-content {
    overflow: hidden;
}
.section_4-container{

    width: 80%;
    margin: 10px auto;

}
.offer-part{
    width:30%;
    height: 200px;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8 ;
    padding: 30px 15px 30px 70px;
    position: relative;
    transition: 0.9s ease;
}
.offer-part.im{
    margin: 0%  5%;
}
.offer-part .icon{
    position: absolute;
    left:15px;
    top:26px;
    color:#2c4266;
    font-size: 35px;
}
.offer-part-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-left: 10px;
    transition: 1s;
}

.offer-part-para {
 text-transform: capitalize;
 margin-bottom: 15px;
 color: #3e3b3b;
 }
 .offer-part-para.web
 {
     margin-top: 40px;
 }
 .offer-part-para.web-1
 {
     margin-top: 20px;
 }
 .offer-part.sty:hover .offer-part-title{
    color: #fff;
    
 }
 .offer-part.sty:hover {
    transform: scale(1.1);
 }
 .sty{
    position: relative;
}
.sty:after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top:0;
    left:0;
    background-color: #7d7b7b; 
}
.sty:hover:after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}
/* ****************************************************** */
/* section 5 style (one - photo)*/

.section_5-photo{
    background-color: #ede8e8;
    /* margin-top: 400px; */
}
.section-item{
    width: 50%;
    float: left;
}
.clear {
    clear: both;
}
.section-item .section-header{
    text-align:left;
    margin-left: 40px;
}
.section-item .section-header .line{
    margin: 15px 0 45px 0;
}
.section-item-para{
    padding-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: #3747c0;;
    font-size: 30px;
    font-weight: bold;
   
}
.section-list {
    list-style: none;
    margin-left: 30px;
}
.section-list li i {
    color: #3747c0; 
    width: 20px;
    height:20px;
    padding: 3px;
    font-size: 20px;
}

.section-list li{
    margin-bottom: 13px;
    color: #817f7f;
}

.section-item-img{
    margin-top: 80px;
    margin-left: 80px;
}

.photo {
    width: 400px;
    height: 400px;

}

.section-points li{
    background-color: #999;
    width:10px;
    height:10px;
    display: inline-block;
    margin: 10px 10px;
    border-radius: 50%;
}
.section-points li.active{
    background-color: #3c67c3;
}
.section-points li:hover{
    background-color: #3c67c3;
}

/* ********************************************************************************** */
/* Section 6 Style  */
.section-data{
    position: relative;
    background-image: url(..//images/data.jpg);
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
}
.data-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.data-parts{
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 140px;
}
.data-parts .icon{
    color:#3c67c3;
    font-size: 45px;
    margin-bottom: 20px;
}
.data-parts-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    margin-bottom: 20px;
}
.data-parts-text
{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0c0cd;
}
/* ****************************************************************************************** */
.price-cards{
    overflow: hidden;
    width: 80%;
    margin: 10px auto;
}
.cards-parts{
    position: relative;
    float: left;
    width: 30%;
    padding: 20px 15px;
    border: 2px solid rgb(103, 159, 238) ;
    text-align: center;
}
.cards-text
{
    font-size:20px ;
    color: rgb(28, 28, 28);
}
.parts-permonth{
    width: 100px;
    height: 100px;
    padding: 15px auto;
    border: 3px solid #5478c5;
    margin: 20px auto;
    border-radius: 50%;
}
.cards-parts.im{
    margin: 0 5%
}
.doller{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
}
.month{
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
}
.cards-list{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 15px;
}
.cards-btn{
    display: block;
    border: 3px solid #3c67c3;;
    margin: auto;
    padding: 7px;
    background-color: #fff;
    width: 130px;
    font-size: 18px;
    font-weight: 100;
}

.cards-list li {
    color: #544f4f;
    margin-bottom:10px ;
}
 /*  Price Hover style  */
 .cards-parts:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left:0;
    background-color: #434747;
    transition: 0.5s;
    opacity: 0.5;
 }
 .cards-parts:hover:after{
    width: 100%;
    height: 100%;
 }
 .cards-parts:hover .cards-text{
    color: rgb(81, 83, 169);
 }
 .cards-parts:hover .parts-permonth{
    color: rgb(34, 49, 127);
    transition: 1.5s;
 }
/* ***********************************************************************************  */

/*  style section temp  */

.section-temp{
    position: relative;
    background-image: url(..//images/temp.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    margin-top: 150px;
 }
 .temp-data{
    overflow: hidden;
    width: 90%;
    margin: auto;
 }
 .temp-items{
    float: left;
    width: 50%;
    color: white;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 120px;
}
.items-photo
{
    position: relative;
    padding: 45px 20px 10px 180px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.items-photo img
{
    position: absolute;
    top: 30px;
    left: 70px;
    border-radius: 50%;
}
.items-photo h3 
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.items-photo span {
    font-family:Arial, Helvetica, sans-serif;
    color: #3c67c3;
    font-size: 20px;
    font-weight: bold;
}
.temp-para{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 80px;
    color: #d2d9e3;
}

/* ****************************************** *************************************** */
/* Team Section style  */
.section-team{
    margin-top: 0px;
    margin-bottom: 50px;
}

.container {
    width: 80%;
    margin: auto;
}
.go {
    margin: 0px  5%;
}

.team-item {
    float: left;
    width: 30%;
    background-color: rgb(197, 196, 196);
    padding: 30px 20px;
    text-align: center;
}
.team-img {
    width: 85%;
    margin: auto;
    position: relative;
}

.team-img  img {
    width: 100% ;
}
.team-overlay {
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: 1s ;
}

.team-item:hover  .team-overlay {
    visibility: visible;
    opacity: 1 ;    
}

.team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(44, 179, 241);
    color: #fff;
    margin-left: auto ;

}

.team-overlay  a  i {
    line-height: 40px ;
    font-size: 20px;
}

.team-info-title {
    text-transform: capitalize;
    padding: 10px   0px ;
}

.team-info-p {
    text-transform: uppercase;
    color: grey;
}
/* /******************************************************************************************** */

/* News Section style */
.news-container{
    width: 80%;
    margin: 10px auto;
}
.news-content{
    overflow: hidden;
    background-color: #f8f8f8;
}
.news-card{
    float: left;
    position: relative;
    width: 30%;
    background-color: #FFF;
}
.card-img{
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}
.card-info{
    padding: 20px;
}
.news-card-list{
    list-style: none;
    margin: 10px 0;
}
.news-card-list li {
    display: inline-block;
    font-size: 18px;
    margin: 0px 10px ;
}
.news-card-list li i{
    color: #3c67c3;
}
.card-title{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    margin-bottom: 30px;
}
.card-para{
    font-size: 20px;
    color: #5c637e;
    margin-bottom: 30px;
    line-height: 1.5;
}

.card-link{
    text-decoration: none;
    font-size: 25px;
    color: #2a4a8b;
}
/* HERE TWo  */
.news-card.im{
    margin: 0 5%;
} 
/* HOver Style Section */
.news-card:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    transition: 1s;
    opacity: 0;
    background-color: #484747;
}
.news-card:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/* ************************************************************************************** */
/* Footer style */
.mmg{
    width: 200px;
    height: 150px;
}
.footer{
    background-color: rgba(103, 117, 128, 0.7);
    text-align: center;
    height: 380px;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 30px 0;
}
.footer-links li{
    display: inline-block;
    background-color: #6195ff;
    width:50px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
.footer-links li a{
    display: block;
    width:100%;
    height: 100%;
    color:#6195ff;
    color: #fff;
    line-height: 50px;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 23px;
    margin: 0px 7px;
    margin-top: -12px;
}
.footer-links li:after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: .3s;
    background-color: #2e55a4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
}
.footer-links li:hover:after{
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
}
.footer p{
    color:#363333;
    font-size: 20px;
    text-transform: uppercase;
}